@import url('https://fonts.googleapis.com/css2?family=Barlow&family=DM+Serif+Display&family=Fraunces:opsz@9..144&family=Kanit&family=Montserrat&family=Mooli&family=Playfair+Display&family=Plus+Jakarta+Sans&family=Poppins&family=Roboto:wght@400;500&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./img/Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-list li a {
    color: #08082A;
    font-family: "Rubik";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-list li a:hover {
    transition: all ease 0.5s;
    color: #FF5A09;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons p {
    cursor: pointer;
    color: #08082A;
    text-align: right;
    font-family: "Rubik";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttons button {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #08082A;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttons button i {
    font-size: 27px;
    color: white;
}

#bg {
    background-image: url("./img/Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 95px;
}

.hero-info h1 {
    color: #08082A;
    font-family: "Playfair Display";
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    width: 522px;
}

.hero-info p {
    color: #08082A;
    font-family: "Rubik";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 470px;
    opacity: 0.6;
    padding-top: 32px;
}

.hero-info button {
    padding: 16px 28px;
    color: #FFF;
    text-align: center;
    font-family: "Rubik";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    background: linear-gradient(315deg, #FF5A09 0%, #FF894E 100%);
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
}

.hero-info button:hover {
    transition: all ease 0.7s;
    background: linear-gradient(315deg, #FF894E 0%, #FF5A09 100%);
}

.hero-img img {
    width: 611px;
    height: 647px;
}

/* main */

.choose {
    margin-top: 150px;
}

.top {
    width: 323px;
    height: 80px;
    border-radius: 30px 30px 0px 0px;
    background: #FFF;
    color: #08082A;
    font-family: "Helvetica";
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.bottom {
    width: 100%;
    height: 470px;
    flex-shrink: 0;
    border-radius: 0px 30px 30px 30px;
    background: #ffffff;
    box-shadow: 0px 15px 35px 0px rgba(8, 8, 42, 0.02);
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange {
    width: 50%;
    padding-left: 84px;
    border-right: 1px solid rgba(8, 8, 42, 0.15);
}

.green {
    width: 50%;
    padding-left: 84px;
}

#orange {
    font-family: "Rubik";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #FF894E;
}

#green {
    font-family: "Rubik";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #75EDA6;
}

.titles {
    color: #08082A;
    font-family: "Helvetica";
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 24px;
}

.infos {
    color: #08082A;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 420px;
    opacity: 0.6;
    margin-top: 24px;
}

.btn {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background: linear-gradient(315deg, #FF5A09 0%, #FF894E 100%);
    border: none;
    outline: none;
    margin-top: 50px;
    cursor: pointer;
}

.btns {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background: linear-gradient(315deg, #4ACF8C 0%, #75EDA6 100%);
    border: none;
    outline: none;
    margin-top: 50px;
    cursor: pointer;
}

.btns i {
    font-size: 30px;
    color: white;
}

.btn i {
    font-size: 30px;
    color: white;
}

.swipe {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.swipe h3 {
    color: #08082A;
    font-family: "Playfair Display";
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    width: 535px;
}

.btn-s button {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 42, 0.15);
    cursor: pointer;
    outline: none;
}

.btn-s button:hover {
    color: white;
    transition: all ease 0.7s;
    background: #FF5A09;
}

.btn-s button i {
    font-size: 42px;
    color: #08082A;
    opacity: 0.6;
}

.btn-s button i:hover {
    color: white;
    opacity: 1;
}

.card h3 {
    color: #08082A;
    font-family: "Playfair Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-left: 37px;
    padding-top: 40px;
}

#vid {
    color: #08082A;
    font-family: "Rubik";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.6;
    margin-top: 16px;
    margin-left: 37px;
}

.card img {
    margin-top: 36px;
    margin-left: 37px;
}

.card {
    width: 482px;
    height: 670px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
}

.price {
    width: 320px;
    height: 100px;
    border-radius: 10px;
    background: #FFF2E4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 70px;
    margin-top: 60px;
    margin-left: 81px;
}

.price-two {
    width: 320px;
    height: 100px;
    border-radius: 10px;
    background: #E4F7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 70px;
    margin-top: 60px;
    margin-left: 81px;
}

.price-three {
    width: 320px;
    height: 100px;
    border-radius: 10px;
    background: #FFE5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 70px;
    margin-top: 60px;
    margin-left: 81px;
}

#bucks {
    color: #FF5B2E;
    font-family: "Rubik";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

#buck {
    color: #00AEBF;
    font-family: "Rubik";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

#dollar {
    color: #F90;
    font-family: "Rubik";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.cart {
    width: 114px;
    height: 68px;
    position: relative;
    border-radius: 10px;
    background: #08082A;
    color: #FFF;
    font-family: "Rubik";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.swiper {
    width: 100%;
    height: 670px;
    margin-top: 60px;
}

.swipe {
    margin-top: 60px;
}

.trend-card img {
    width: 520px;
    height: 290px;
    flex-shrink: 0;
}

.trend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.trend-cards img {
    width: 520px;
    height: 290px;
    flex-shrink: 0;
}

.card-h {
    color: #08082A;
    font-family: "Playfair Display";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 43px;
}

.card-p {
    color: #08082A;
    font-family: "Rubik";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 500px;
    margin-top: 30px;
    opacity: 0.6;
}

#bg {
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 140px;
}

.pre-foot {
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(315deg, #FF5A09 0%, #FF894E 100%);
    height: 458px;
    border: none;
    outline: none;
    margin-top: 140px;
}

.pre-foot h2 {
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
    text-align: center;
    padding-top: 100px;
    margin-left: 150px;
    width: 768px;
}

.pre-foot button {
    color: #08082A;
    text-align: center;
    font-family: "Rubik";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    padding: 10px 20px;
    border-radius: 10px;
    background: #FFF;
    border: none;
    outline: none;
    margin-left: 400px;
    margin-top: 55px;
    cursor: pointer;
}

/* footer */

footer {
    width: 100%;
}

.foot-box {
    border-radius: 30px 30px 0px 0px;
    background: #FFF;
    width: 465px;
    height: 500px;
}

.foot-box h3 {
    font-family: "Poppins";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    background: linear-gradient(315deg, #FF5A09 0%, #FF894E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    padding-top: 100px;
}

.foot-box p {
    color: #08082A;
    font-family: "Rubik";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.8;
    width: 350px;
    padding-top: 48px;
}

.foot-box h5 {
    color: #08082A;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    padding-top: 90px;
}

.icons {
    padding-top: 30px;
}

.icons i {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid rgba(8, 8, 42, 0.20);
    ;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

#face {
    color: #1877F2;
}

#google {
    color: red;
}

#twit {
    color: #1DA1F2;
}

#basket {
    color: rgb(255, 98, 124);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
}

.foot-box-info {
    padding-left: 56px;
}

.foot-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.foot-list h5 {
    color: #08082A;
    font-family: "Playfair Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 52px;
}

.foot-list a {
    color: #08082A;
    font-family: "Rubik";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    opacity: 0.5;
}

.foot-list ul li {
    margin-top: 10px;
}
